@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  bottom: 10px;
  position: fixed;
}

@media (min-width: 500px) {
  .bg {
    display: none;
  }
}

@media (min-height: 590px) {
  .bg {
    display: none;
  }
}

.bg {
  width: 100%;
  height: max-content;
  z-index: -1;
}

.logo_in {
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  height: 70px;
  animation-name: slidein;
  position: relative;
}

@keyframes slidein {
  0% {
    left: 0;
  }

  100% {
    left: calc(100% - 100px);
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/Backgroud.jpg);
  
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  min-width: 260px;
  margin: 0.1rem auto;
  padding: 20px;
  background-color: #9e5c432b;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  animation: 0.5s ease;
  animation-name: slideout;
}

img {
  margin-top: -130px;
  z-index: -1;
  animation: 0.7s ease;
  animation-name: slideout;
}

h1 {
  font-family: "Poppins";
  color: #000000;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  animation: 0.7s ease;
  animation-name: slideout;
  position: relative;
}

h1:after {
  content: "";
  display: flex;
  width: 20px;
  height: 4px;
  background: #a251b0;
  position: absolute;
  top: 12px;
  margin-left: 182px;
  border-radius: 50px;
}

@keyframes slideout {
  1% {
    scale: 9;
  }

  100% {
    scale: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  background: #a251b060;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a7008349;
  margin-bottom: 10px;
  text-align: center;
}

button[type="submit"] {
  padding: 10px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #000000;
  color: #a70083;
  cursor: pointer;
  transition: 0.6s all;
}

button[type="submit"]:hover {
  background-color: #a70083;
  color: #fff;
}

.blur {
  filter: blur(10px);
  transition: filter 0.6s ease-in-out;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  1% {
    scale: 1;
  }

  100% {
    scale: 50;
  }
}
